In [28]:
import pandas as pd
import numpy as np
import datetime as dt # procces dmy

In [33]:
!pip3 install yfinance

Defaulting to user installation because normal site-packages is not writeable

  WARNING: The script sample.exe is installed in 'C:\Users\lamvu\AppData\Roaming\Python\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

Collecting yfinance
  Obtaining dependency information for yfinance from https://files.pythonhosted.org/packages/e9/43/93ea65227c938a0a4a8925d7f054b050ea743044b887170da9eca210635a/yfinance-0.2.28-py2.py3-none-any.whl.metadata
  Downloading yfinance-0.2.28-py2.py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: lxml>=4.9.1 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (2022.7)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.3.8-py311-none-any.whl (14 kB)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\programdata\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Collecting html5lib>=1.1 (from yfinance)
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ---------------------------------------- 0.0/112.2 kB ? eta -:--:--
     ---------- ---------------------------- 30.7/112.2 kB 1.3 MB/s eta 0:00:01
     ---------------------------------- --- 102.4/112.2 kB 1.2 MB/s eta 0:00:01
     -------------------------------------- 112.2/112.2 kB 1.3 MB/s eta 0:00:00
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2023.7.22)
Downloading yfinance-0.2.28-py2.py3-none-any.whl (65 kB)
   ---------------------------------------- 0.0/65.3 kB ? eta -:--:--
   ------------------------- -------------- 41.0/65.3 kB 991.0 kB/s eta 0:00:01
   ---------------------------------------- 65.3/65.3 kB 706.1 kB/s eta 0:00:00
Installing collected packages: multitasking, html5lib, frozendict, yfinance
Successfully installed frozendict-2.3.8 html5lib-1.1 multitasking-0.0.11 yfinance-0.2.28

In [34]:
import yfinance as yf

In [41]:
AAPL = yf.download(tickers='AAPL',period='5y',interval = '5d')#take data apple company

[*********************100%%**********************]  1 of 1 completed

In [44]:
AAPL.drop("Adj Close", axis = 1, inplace =True)#delete column adj close
AAPL

                  Open        High         Low       Close     Volume
Date
2018-08-16   52.937500   53.452499   52.867500   53.330002  114001600
2018-08-21   54.200001   54.297501   53.507500   53.759998  104639200
2018-08-31   56.627499   57.217499   56.500000   56.907501  173360400
2018-09-05   57.247501   57.417500   56.275002   56.717499  133332000
2018-09-10   55.237499   55.462502   54.117500   54.582500  158066000
...                ...         ...         ...         ...        ...
2023-07-21  194.100006  194.970001  191.229996  191.940002   71917800
2023-07-26  193.669998  195.639999  193.320007  194.500000   47471900
2023-07-31  196.059998  196.490005  195.259995  196.449997   38824100
2023-08-10  179.479996  180.750000  177.600006  177.970001   54686900
2023-08-15  178.880005  179.479996  176.839996  177.360107   63424201

[256 rows x 5 columns]

In [46]:
TSLA = yf.download(tickers='TSLA',period='5y',interval = '5d')#take data Tesla company

[*********************100%%**********************]  1 of 1 completed

In [47]:
TSLA.drop("Adj Close", axis = 1, inplace =True)#delete column adj close
TSLA

                  Open        High         Low       Close     Volume
Date
2018-08-16   22.660667   22.818666   22.254667   22.363333   90960000
2018-08-21   20.707333   21.652666   20.600000   21.459999  197583000
2018-08-31   20.133333   20.354000   19.906668   20.110666   80626500
2018-09-05   19.003332   19.118668   18.478666   18.716000  115812000
2018-09-10   18.217333   19.068666   18.066668   19.033333  214252500
...                ...         ...         ...         ...        ...
2023-07-21  268.000000  268.000000  255.800003  260.019989  161050100
2023-07-26  263.250000  268.040009  261.750000  264.350006   95856200
2023-07-31  267.480011  269.079987  263.779999  267.429993   84582200
2023-08-10  245.399994  251.800003  243.000000  245.339996  109498600
2023-08-15  238.729996  240.500000  226.669998  227.026398  153099177

[256 rows x 5 columns]

In [49]:
GG = yf.download(tickers='GOOGL',period='5y',interval = '5d')#take data GOOGLE company

[*********************100%%**********************]  1 of 1 completed

In [50]:
GG.drop("Adj Close", axis = 1, inplace =True)#delete column adj close
GG

                  Open        High         Low       Close    Volume
Date
2018-08-16   62.099499   62.185001   60.981499   61.202999  32176000
2018-08-21   61.151001   61.638000   60.751499   60.870499  23082000
2018-08-31   62.610500   62.627499   61.287498   61.590000  42308000
2018-09-05   60.460999   60.743500   58.766998   59.955002  53988000
2018-09-10   59.209999   59.333000   58.530499   58.752998  27670000
...                ...         ...         ...         ...       ...
2023-07-21  120.620003  120.989998  118.730003  120.019997  72937900
2023-07-26  130.070007  130.979996  128.320007  129.270004  61682100
2023-07-31  132.729996  133.529999  131.779999  132.720001  28055500
2023-08-10  131.320007  132.050003  129.449997  129.690002  20857800
2023-08-15  131.100006  131.419998  128.089996  128.200104  28089556

[256 rows x 5 columns]

In [54]:
list_company = ['AAPL','TSLA','GG']

In [56]:
company_stocks = pd.concat([AAPL,TSLA,GG],axis = 1, keys =list_company)
company_stocks

                  AAPL                                                 \
                  Open        High         Low       Close     Volume
Date
2018-08-16   52.937500   53.452499   52.867500   53.330002  114001600
2018-08-21   54.200001   54.297501   53.507500   53.759998  104639200
2018-08-31   56.627499   57.217499   56.500000   56.907501  173360400
2018-09-05   57.247501   57.417500   56.275002   56.717499  133332000
2018-09-10   55.237499   55.462502   54.117500   54.582500  158066000
...                ...         ...         ...         ...        ...
2023-07-21  194.100006  194.970001  191.229996  191.940002   71917800
2023-07-26  193.669998  195.639999  193.320007  194.500000   47471900
2023-07-31  196.059998  196.490005  195.259995  196.449997   38824100
2023-08-10  179.479996  180.750000  177.600006  177.970001   54686900
2023-08-15  178.880005  179.479996  176.839996  177.360107   63424201

                  TSLA                                                 \
                  Open        High         Low       Close     Volume
Date
2018-08-16   22.660667   22.818666   22.254667   22.363333   90960000
2018-08-21   20.707333   21.652666   20.600000   21.459999  197583000
2018-08-31   20.133333   20.354000   19.906668   20.110666   80626500
2018-09-05   19.003332   19.118668   18.478666   18.716000  115812000
2018-09-10   18.217333   19.068666   18.066668   19.033333  214252500
...                ...         ...         ...         ...        ...
2023-07-21  268.000000  268.000000  255.800003  260.019989  161050100
2023-07-26  263.250000  268.040009  261.750000  264.350006   95856200
2023-07-31  267.480011  269.079987  263.779999  267.429993   84582200
2023-08-10  245.399994  251.800003  243.000000  245.339996  109498600
2023-08-15  238.729996  240.500000  226.669998  227.026398  153099177

                    GG
                  Open        High         Low       Close    Volume
Date
2018-08-16   62.099499   62.185001   60.981499   61.202999  32176000
2018-08-21   61.151001   61.638000   60.751499   60.870499  23082000
2018-08-31   62.610500   62.627499   61.287498   61.590000  42308000
2018-09-05   60.460999   60.743500   58.766998   59.955002  53988000
2018-09-10   59.209999   59.333000   58.530499   58.752998  27670000
...                ...         ...         ...         ...       ...
2023-07-21  120.620003  120.989998  118.730003  120.019997  72937900
2023-07-26  130.070007  130.979996  128.320007  129.270004  61682100
2023-07-31  132.729996  133.529999  131.779999  132.720001  28055500
2023-08-10  131.320007  132.050003  129.449997  129.690002  20857800
2023-08-15  131.100006  131.419998  128.089996  128.200104  28089556

[256 rows x 15 columns]

In [58]:
company_stocks.columns.names = ['Company Name','Stock Info']
company_stocks

Company Name        AAPL                                                 \
Stock Info          Open        High         Low       Close     Volume
Date
2018-08-16     52.937500   53.452499   52.867500   53.330002  114001600
2018-08-21     54.200001   54.297501   53.507500   53.759998  104639200
2018-08-31     56.627499   57.217499   56.500000   56.907501  173360400
2018-09-05     57.247501   57.417500   56.275002   56.717499  133332000
2018-09-10     55.237499   55.462502   54.117500   54.582500  158066000
...                  ...         ...         ...         ...        ...
2023-07-21    194.100006  194.970001  191.229996  191.940002   71917800
2023-07-26    193.669998  195.639999  193.320007  194.500000   47471900
2023-07-31    196.059998  196.490005  195.259995  196.449997   38824100
2023-08-10    179.479996  180.750000  177.600006  177.970001   54686900
2023-08-15    178.880005  179.479996  176.839996  177.360107   63424201

Company Name        TSLA                                                 \
Stock Info          Open        High         Low       Close     Volume
Date
2018-08-16     22.660667   22.818666   22.254667   22.363333   90960000
2018-08-21     20.707333   21.652666   20.600000   21.459999  197583000
2018-08-31     20.133333   20.354000   19.906668   20.110666   80626500
2018-09-05     19.003332   19.118668   18.478666   18.716000  115812000
2018-09-10     18.217333   19.068666   18.066668   19.033333  214252500
...                  ...         ...         ...         ...        ...
2023-07-21    268.000000  268.000000  255.800003  260.019989  161050100
2023-07-26    263.250000  268.040009  261.750000  264.350006   95856200
2023-07-31    267.480011  269.079987  263.779999  267.429993   84582200
2023-08-10    245.399994  251.800003  243.000000  245.339996  109498600
2023-08-15    238.729996  240.500000  226.669998  227.026398  153099177

Company Name          GG
Stock Info          Open        High         Low       Close    Volume
Date
2018-08-16     62.099499   62.185001   60.981499   61.202999  32176000
2018-08-21     61.151001   61.638000   60.751499   60.870499  23082000
2018-08-31     62.610500   62.627499   61.287498   61.590000  42308000
2018-09-05     60.460999   60.743500   58.766998   59.955002  53988000
2018-09-10     59.209999   59.333000   58.530499   58.752998  27670000
...                  ...         ...         ...         ...       ...
2023-07-21    120.620003  120.989998  118.730003  120.019997  72937900
2023-07-26    130.070007  130.979996  128.320007  129.270004  61682100
2023-07-31    132.729996  133.529999  131.779999  132.720001  28055500
2023-08-10    131.320007  132.050003  129.449997  129.690002  20857800
2023-08-15    131.100006  131.419998  128.089996  128.200104  28089556

[256 rows x 15 columns]

In [59]:
#max value close for every company
company_stocks.xs(key='Close',axis = 1,level='Stock Info').max()

Company Name
AAPL    196.449997
TSLA    404.619995
GG      149.838501
dtype: float64

In [60]:
#min value close for every company
company_stocks.xs(key='Close',axis = 1,level='Stock Info').min()

Company Name
AAPL    35.547501
TSLA    12.580000
GG      49.233501
dtype: float64